@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

$primary-bg: #f5f3f3;
$secondary-bg: #ba8547;
$lastly-bg: #9c9f93;
$primary-font: #000000cb;
$secondary-font: #ffffffcb;

*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: auto;
}
.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60px auto 150px auto auto auto 150px 30px;
  grid-template-areas:
    "nav"
    "main"
    "counter"
    "section1"
    "section2"
    "testimonials"
    "newsletter"
    "footer";
}

h1 {
  font-size: 48px;
  font-weight: 600;
}

h3 {
  font-size: 40px;
  font-weight: 600;
}

%img-section {
  height: 390px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

%flex-center {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav {
  padding-right: 16px;
  grid-area: nav;
  background-color: $primary-bg;
  border-bottom: 1px solid lightgray;
  @extend %flex-center;
}

#toggle,
.menu {
  display: none;
}

label {
  color: $primary-font;
  cursor: pointer;
  opacity: 1;
  transition: 0.5s;

  &:hover {
    opacity: 0.6;
  }
}

.main {
  grid-area: main;
  background-color: $primary-bg;
}

%flext-col-cen {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 1rem 0;
}

%p-setting {
  line-height: 24px;
  padding: 0 2rem;
  font-weight: 300;
}

.bx {
  color: $primary-font;
}

.text1 {
  @extend %flext-col-cen;
  color: $primary-font;

  p {
    font-size: 18px;
    @extend %p-setting;
  }
}

.img1 {
  background-color: $primary-bg;
  background-image: url("/images/van1.png");
  @extend %img-section;
}

#counter {
  grid-area: counter;
  background-color: $lastly-bg;
  display: flex;
  justify-content: space-evenly;
}

.left-counter,
.middle-counter,
.right-counter {
  padding-top: 1rem;
  text-align: center;
  color: $primary-font;
}

.section1 {
  grid-area: section1;
  background-color: $secondary-bg;
}

.text2 {
  @extend %flext-col-cen;
  color: $secondary-font;
  padding-bottom: 2rem;

  p {
    font-size: 16px;
    @extend %p-setting;
  }
}

.img2 {
  background-color: $primary-bg;
  background-image: url("/images/van2.png");
  @extend %img-section;
}

.section2 {
  grid-area: section2;
  background-color: $primary-bg;
}

.text3 {
  @extend %flext-col-cen;
  color: $primary-font;
  padding-bottom: 2rem;

  p {
    font-size: 16px;
    @extend %p-setting;
  }
}

.img3 {
  background-color: $primary-bg;
  background-image: url("/images/van3.png");
  @extend %img-section;
}

#testimonials {
  grid-area: testimonials;
  background-color: $lastly-bg;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text4 {
  color: $primary-font;
  padding-bottom: 1rem;
  text-align: center;

  p {
    font-size: 16px;
    @extend %p-setting;
  }
}

.test-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  font-weight: 200;
  font-size: 12px;
}

.left-counter,
.middle-counter,
.right-counter {
  width: 30%;
}

.test-message1,
.test-message2,
.test-message3,
.test-message4 {
  width: 100%;
  height: auto;
  background-color: $primary-bg;
  margin: 0 1rem 1rem 1rem;
  border-radius: 0.4rem;
  padding: 2rem 1rem;
}

#newsletter {
  grid-area: newsletter;
  background-color: $secondary-bg;
  color: $secondary-font;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  padding: 0.6rem 1rem;
  display: flex;
  justify-content: center;
}

input[type="text"] {
  width: 100%;
  border-radius: 10px;
  border: solid 1px #956a38;
  background-color: #956a38;
  padding-left: 10px;
}

input[type="text"]::placeholder {
  color: $secondary-font;
  font-size: 12px;
}

input[type="submit"] {
  margin-left: 10px;
  height: 30px;
  padding: 0 10px 0 10px;
  background-color: $primary-bg;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  opacity: 0.8;
  color: $primary-font;
  font-weight: 600;
}

input[value="Souscrire"] {
  color: $primary-font;
  font-weight: 600;
  font-size: 12px;
}

.footer {
  grid-area: footer;
  background-color: $secondary-bg;
  color: $secondary-font;
  @extend %flex-center;
  justify-content: center;
  font-size: 10px;
}

@media screen and (min-width: 768px) {
  #counter {
    align-items: center;
  }

  .left-counter,
  .middle-counter,
  .right-counter {
    padding-top: 0;
  }

  #testimonials {
    width: 100%;
  }

  .test-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .test-message1,
  .test-message2,
  .test-message3,
  .test-message4 {
    margin: 0;
    width: 43%;
  }

  .test-message1,
  .test-message2 {
    margin-bottom: 1rem;
  }

  .test-message3,
  .test-message4 {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  body {
    display: flex;
    justify-content: center;
  }

  .grid-container {
    width: 1024px;
  }

  .img1,
  .img2,
  .img3 {
    height: 600px;
  }

  .toggle,
  label {
    display: none;
  }

  .menu {
    width: 50%;
    display: flex;
    justify-content: space-around;

    a {
      text-decoration: none;
      color: $primary-font;
    }
  }

  .test-message1,
  .test-message2,
  .test-message3,
  .test-message4 {
    width: 20%;
  }
}
