@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  height: auto;
}

.grid-container {
  width: 100vw;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 60px 640px 150px 640px 640px 300px 150px 30px;
      grid-template-rows: 60px 640px 150px 640px 640px 300px 150px 30px;
      grid-template-areas: "nav" "main" "counter" "section1" "section2" "testimonials" "newsletter" "footer";
}

h1 {
  font-size: 48px;
  font-weight: 600;
}

h3 {
  font-size: 40px;
  font-weight: 600;
}

.img1, .img2, .img3 {
  height: 390px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

.nav, .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav {
  padding-right: 16px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav;
  background-color: #f5f3f3;
  border-bottom: 1px solid lightgray;
}

#toggle,
.menu {
  display: none;
}

label {
  color: #000000cb;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

label:hover {
  opacity: 0.6;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  background-color: #f5f3f3;
}

.text1, .text2, .text3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 250px;
}

.text1 p, .text2 p, .text3 p, .text4 p {
  line-height: 24px;
  padding: 0 32px;
  font-weight: 300;
}

.bx {
  color: #000000cb;
}

.text1 {
  color: #000000cb;
}

.text1 p {
  font-size: 18px;
}

.img1 {
  background-color: #f5f3f3;
  background-image: url("/images/van1.png");
}

#counter {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: counter;
  background-color: #9c9f93;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.left-counter,
.middle-counter,
.right-counter {
  text-align: center;
  color: #000000cb;
}

.section1 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: section1;
  background-color: #ba8547;
}

.text2 {
  color: #ffffffcb;
}

.text2 p {
  font-size: 16px;
}

.img2 {
  background-color: #f5f3f3;
  background-image: url("/images/van2.png");
}

.section2 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: section2;
  background-color: #f5f3f3;
}

.text3 {
  color: #000000cb;
}

.text3 p {
  font-size: 16px;
}

.img3 {
  background-color: #f5f3f3;
  background-image: url("/images/van3.png");
}

#testimonials {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: testimonials;
  background-color: #9c9f93;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text4 {
  color: #000000cb;
}

.text4 p {
  font-size: 16px;
}

.test-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-weight: 200;
  font-size: 10px;
}

.left-counter,
.middle-counter,
.right-counter,
.test-left,
.test-middle,
.test-right {
  width: 30%;
}

#newsletter {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: newsletter;
  background-color: #ba8547;
  color: #ffffffcb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

input[type="text"] {
  border-radius: 10px;
  border: solid 1px #956a38;
  background-color: #956a38;
  padding-left: 10px;
}

input[type="text"]::-webkit-input-placeholder {
  color: #ffffffcb;
  font-size: 12px;
}

input[type="text"]:-ms-input-placeholder {
  color: #ffffffcb;
  font-size: 12px;
}

input[type="text"]::-ms-input-placeholder {
  color: #ffffffcb;
  font-size: 12px;
}

input[type="text"]::placeholder {
  color: #ffffffcb;
  font-size: 12px;
}

input[type="submit"] {
  margin-left: 10px;
  height: 30px;
  padding: 0 10px 0 10px;
  background-color: #f5f3f3;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  opacity: 0.8;
  color: #000000cb;
  font-weight: 600;
}

input[value="Souscrire"] {
  color: #000000cb;
  font-weight: 600;
  font-size: 12px;
}

.footer {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  grid-area: footer;
  background-color: #ba8547;
  color: #ffffffcb;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 10px;
}

@media screen and (min-width: 992px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #f5f3f3;
  }
  .grid-container {
    width: 100%;
    max-width: 1200px;
    border: solid 1px lightgrey;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 60px 400px 150px 400px 400px 300px 150px 30px;
        grid-template-rows: 60px 400px 150px 400px 400px 300px 150px 30px;
        grid-template-areas: "nav nav" "main main" "counter counter" "section1 section1" "section2 section2" "testimonials testimonials" "newsletter newsletter" "footer footer";
  }
  label {
    display: none;
  }
  .menu {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .link-items {
    color: #000000cb;
    text-decoration: none;
    font-weight: 400;
    opacity: 1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .link-items:hover {
    opacity: 0.6;
  }
  .link-donation {
    text-decoration: underline;
    text-underline-offset: 5px;
    color: #000000cb;
    opacity: 1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .link-donation:hover {
    color: #000000cb;
    opacity: 0.8;
    text-decoration: underline;
    text-underline-offset: 5px;
  }
  .main,
  .section1,
  .section2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: main;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
  .text1,
  .img1,
  .text2,
  .img2,
  .text3,
  .img3 {
    height: 100%;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section1 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: section1;
  }
  .section2 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: section2;
  }
}
/*# sourceMappingURL=style.css.map */