@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: auto;
}

.grid-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 60px auto 150px auto auto auto auto 150px 30px;
      grid-template-rows: 60px auto 150px auto auto auto auto 150px 30px;
      grid-template-areas: "nav" "main" "counter" "section1" "section2" "donation" "testimonials" "newsletter" "footer";
}

h1 {
  font-size: 48px;
  font-weight: 600;
}

h3 {
  font-size: 40px;
  font-weight: 600;
}

.img1, .img2, .img3, .img4 {
  height: 390px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

.nav, .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav {
  padding-right: 16px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav;
  background-color: #f5f3f3;
  border-bottom: 1px solid lightgray;
}

#toggle,
.menu {
  display: none;
}

label {
  color: #000000cb;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

label:hover {
  opacity: 0.6;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  background-color: #f5f3f3;
}

.text1, .text2, .text3, .text5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
  padding: 1rem 0;
}

.text1 p, .text2 p, .text3 p, .text4 p, .text5 p {
  line-height: 24px;
  padding: 0 2rem;
  font-weight: 300;
}

.bx {
  color: #000000cb;
}

.text1 {
  color: #000000cb;
}

.text1 p {
  font-size: 18px;
}

.img1 {
  background-color: #f5f3f3;
  background-image: url("/images/van1.png");
}

#counter {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: counter;
  background-color: #9c9f93;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.left-counter,
.middle-counter,
.right-counter {
  padding-top: 1rem;
  text-align: center;
  color: #000000cb;
}

.section1 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: section1;
  background-color: #ba8547;
}

.text2 {
  color: #ffffffcb;
  padding-bottom: 2rem;
}

.text2 p {
  font-size: 16px;
}

.img2 {
  background-color: #f5f3f3;
  background-image: url("/images/van2.png");
}

.section2 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: section2;
  background-color: #f5f3f3;
}

.text3 {
  color: #000000cb;
  padding-bottom: 2rem;
}

.text3 p {
  font-size: 16px;
}

.img3 {
  background-color: #f5f3f3;
  background-image: url("/images/van3.png");
}

#testimonials {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: testimonials;
  background-color: #9c9f93;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text4 {
  color: #000000cb;
  padding-bottom: 1rem;
  text-align: center;
}

.text4 p {
  font-size: 16px;
}

.test-container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 200;
  font-size: 12px;
}

.left-counter,
.middle-counter,
.right-counter {
  width: 30%;
}

.test-message1,
.test-message2,
.test-message3,
.test-message4 {
  width: 100%;
  height: auto;
  background-color: #f5f3f3;
  margin: 0 1rem 1rem 1rem;
  border-radius: 0.4rem;
  padding: 2rem 1rem;
}

.donation {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: donation;
  background-color: #825448;
}

.text5 {
  color: #ffffffcb;
  padding-bottom: 2rem;
}

.text5 p {
  font-size: 18px;
}

.img4 {
  background-color: #f5f3f3;
  background-image: url("/images/van4.png");
}

#newsletter {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  grid-area: newsletter;
  background-color: #ba8547;
  color: #ffffffcb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form {
  padding: 0.6rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

input[type="text"] {
  width: 100%;
  border-radius: 10px;
  border: solid 1px #956a38;
  background-color: #956a38;
  padding-left: 10px;
}

input[type="text"]::-webkit-input-placeholder {
  color: #ffffffcb;
  font-size: 12px;
}

input[type="text"]:-ms-input-placeholder {
  color: #ffffffcb;
  font-size: 12px;
}

input[type="text"]::-ms-input-placeholder {
  color: #ffffffcb;
  font-size: 12px;
}

input[type="text"]::placeholder {
  color: #ffffffcb;
  font-size: 12px;
}

input[type="submit"] {
  margin-left: 10px;
  height: 30px;
  padding: 0 10px 0 10px;
  background-color: #f5f3f3;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  opacity: 0.8;
  color: #000000cb;
  font-weight: 600;
}

input[value="Souscrire"] {
  color: #000000cb;
  font-weight: 600;
  font-size: 12px;
}

.footer {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  grid-area: footer;
  background-color: #ba8547;
  color: #ffffffcb;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 10px;
}

@media screen and (min-width: 768px) {
  #counter {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .left-counter,
  .middle-counter,
  .right-counter {
    padding-top: 0;
  }
  #testimonials {
    width: 100%;
  }
  .test-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .test-message1,
  .test-message2,
  .test-message3,
  .test-message4 {
    margin: 0;
    width: 43%;
  }
  .test-message1,
  .test-message2 {
    margin-bottom: 1rem;
  }
  .test-message3,
  .test-message4 {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .grid-container {
    width: 1024px;
  }
  .img1,
  .img2,
  .img3,
  .img4 {
    height: 640px;
  }
  .toggle,
  label {
    display: none;
  }
  .menu {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .menu a {
    text-decoration: none;
    color: #000000cb;
  }
  .test-message1,
  .test-message2,
  .test-message3,
  .test-message4 {
    width: 20%;
  }
}
/*# sourceMappingURL=style.css.map */